
:root{
    --grisLetras: #313131;
    --grisBackground: #F0F0F0;
    --grisHeadNav: #cecdcd;
    --primario: #FB7003;
    --secundario: #07DEFA;
    --cafeClaro: #BA6C30;
    --azulPetroleo: #3998A5;
    --cafeOscuro: #7A583E;
    --pGrande: 22px;
    --pMediano: 19px;
    --pPequeno: 15px;
}

.formcontainer{
    display: flex;
    flex-flow: row nowrap;
    width: 80%;
    margin: 1rem auto
}

.formcontainer_image{
    border-radius: 1.8rem;
    width:55%;
    height: 100%;
    height: auto;
    background-image: url("../images/worker.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    
}

.formcontainer_image img{
    max-width: 100%;
    border-radius: 1.8rem;
}

.formcontainer_form{
    width: 40%;
    padding: 2rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.form_containeritem{
    margin: 2rem 0;
    display: flex;
    flex-flow: column wrap;
}

.form_containeritem label{
    font-weight: 800;
    margin-bottom: 0.6rem;
}

.form_containeritem input{
    padding: 1rem;
    border-radius: 0.8rem;
    border: none;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.377);
}

.form_containeritem_radio{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

#form_containeritem_aut{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

#form_containeritem_aut label {
    width: 85%;
}

#form_containeritem_aut input{
    width: 10%;
}

.form_containeritem_button  button {
    background-color: var(--primario);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-self: center;
    padding: 1.5rem;
    border: none;
    border-radius: 0.8rem;
    color: white;
    font-size: 1.5rem;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.377);
}

.form_containeritem_button{
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.form_containeritem_button button img{
    width: 2.5rem;
    margin-right: 0.8rem;
}

.form_containeritem_button button:hover {
    background-color: #d15d04;
}

.form_containeritem_button button:active {
    background-color: var(--primario);
}
.forminstruction{
    color: var(--secundario);
    font-size: 6rem;
    font-weight: bold;
    text-align: center;
}

@media(max-width:800px){
    .formcontainer{
        flex-flow: column wrap;
    }

    .formcontainer_image{
        display: none;
    }
    
    .formcontainer_form{
        width: 100%;
        background-color: var(--secundario);
        border-radius: 0.8rem;
    }
}